/* Basic */

	// MSIE: Required for IEMobile.
    @-ms-viewport {
        width: device-width;
    }

// MSIE: Prevents scrollbar from overlapping content.
    body {
        -ms-overflow-style: scrollbar;
    }

// Ensures page width is always >=320px.
    @include breakpoint(xsmall) {
        html, body {
            min-width: 320px;
        }
    }

